{% extends 'base.html'%}
{% block styles%} {{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}"> {% endblock %}
{% block content %}
<style>
  img {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;

    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
  }

  @media screen and (max-width: 1024px) {

    /* Specific to this particular image */
    img.bg {
      left: 50%;
      margin-left: -512px;
      /* 50% */
    }
  }
  h4{
    font-size: 40px;
    text-align: center;
    font-weight: bolder;
    color:blueviolet;
  }
</style>
<br>
<img
  src='https://images.unsplash.com/photo-1563865436914-44ee14a35e4b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60'
  alt="Pitch">

<h4 class="display-2">WELCOME!!!</h4><br>
<small>
  <h4>ENJOY YOUR STAY.</h4>
</small>
  <h4><a class="btn btn-primary btn-lg" href="/subscribe">Join</a></h4>
<div class="row">
  <div class="col-lg-8 col-md-10 mx-auto">
    {% for blog in blogs %}
    <div class="preview">
      <a href="blog/new/{{ blog.id }}">
        <h2 class="title">{{ blog.title }}</h2>
      </a>
      <p>{{blog.topic}}</p>
      <p>{{ blog.content}}</p>
      <small>
        <p>Posted by {{blog.author }} on {{ blog.date.strftime('%B %d, %Y') }}</p>
      </small>
    </div>
    <hr>
    {% endfor %}
    <hr>
  </div>
</div>
</div>
{% endblock%}