<style>
  .navbar {
    background: black;
  }

  h1 {
    font-size: 60px;
    color: green;
  }
</style>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg " style="background-color: black;">
  <h1 style="text-align:center"> <strong>BLOG-TECH APPLICATION</strong></h1>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          <a class="nav-link" href="/" style="padding-right: 2em; font-size: 20px;" >Home <span class="sr-only">(current)</span></a>
          <a class="nav-link" href="/blogposts" style="padding-right: 2em; font-size: 20px;">Blogs</a>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if current_user.is_authenticated %}
        {% if current_user.is_admin %}
          <li>
            <a class="nav-link" href="{{ url_for('main.admin_dashboard') }}">Dashboard</a>
          </li>
  
        {% else %}
          <li>
            <a class="nav-link" href="{{ url_for('main.admin_dashboard') }}">Dashboard</a>
          </li>
        {% endif %}
        <li >
          <a class="nav-link" href="{{url_for('auth.login')}}">Login</a>
        </li>
        {% else %}
        <li >
          <a class="nav-link" href="{{url_for('auth.register')}}">Register</a>
        </li>
        {%endif%}
      </ul>
    </div>
  </nav>
  